html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}

a {
  color: #000;
}

article {
  max-width: 1230px;
  padding: 0 20px 10px;
}

header, footer {
  line-height: 1.5;
  font-size: 16px;
}

header {
  margin-bottom: 2.5em;
}

header .circle {
  display: inline-block;
  margin-right: 2px;
  margin-left: 20px;
  height: .75em;
  width: .75em;
  border-radius: 100%;
}

header .circle.west {
  background: rgba(170, 150, 150, .5);
}

header .circle.east {
  background: rgba(170, 150, 150, .5);
  border: 2px solid rgba(0, 0, 0, .75);
}

header .circle.union {
  background: rgba(18, 18, 18, .5);
}

header .circle.spd {
  background: rgba(215, 31, 29, .5);
}

header .circle.gruene {
  background: rgba(10, 128, 0, .5);
}

header .circle.linke {
  background: rgba(190, 48, 117, .5);
}

header .circle.fdp {
  background: rgba(255, 221, 0, .5);
}

header .circle.afd {
  background: rgba(18, 158, 230, .5);
}

footer {
  margin-top: 1em;
  margin-bottom: 2.5em;
}

header h1 {
  font-weight: normal;
}

.chart {
  display: inline-block;
  padding: 0 20px 20px 0;
  width: 20%;
}

.chart p {
  max-width: 230px;
}

svg {
  font-size: 10px;
}

@media all and (max-width: 1170px) {

  .chart {
    width: 25%;
  }
}

@media all and (max-width: 940px) {

  .chart {
    width: 33%;
  }
}

@media all and (max-width: 700px) {

  .chart {
    width: 50%;
  }
}

@media all and (max-width: 455px) {

  .chart {
    text-align: center;
    width: 100%;
    padding: 0 0 20px 0;
  }

  .chart p {
    max-width: 100%;
  }
}


